In [2]:
import pandas as pd
import calendar
import datetime
from datetime import datetime
from datetime import timedelta
from datetime import date
from dateutil.relativedelta import relativedelta

date_year = pd.read_csv('olist_date_year.csv')

# set Date to date datatype
date_year['Date'] = date_year['Date'].apply(pd.to_datetime)

# add month and dayone to calculate fdom - first_day_of_month
date_year['month'] = pd.DatetimeIndex(date_year['Date']).month
##date_year['dayone']  = 1

#Add day of month number 
date_year['dom#'] = pd.DatetimeIndex(date_year['Date']).day

#Add Day of week column
def get_dow_number(index):
    if index == 6:
        return 1
    else:  
        return index+2


date_year['dow#'] = pd.DatetimeIndex(date_year['Date']).weekday
date_year['dow#'] = date_year['dow#'].apply(get_dow_number)

#Add month name column
month_names =["January","February","March","April","May","June","July","August","September","October","November","December"]
def get_monthname(index):
    return month_names[index-1]
date_year['month_name'] = date_year['month'].apply(get_monthname)

#Add month short name column
month_abb=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
def get_monthabb(index):
    return month_abb[index-1]
date_year['month_short_name'] = date_year['month'].apply(get_monthabb)

#Add Dayname column
day_name= ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday","Sunday",]
def get_dayname(index):
    return day_name[index-1]
date_year['dow_name'] = date_year['dow#'].apply(get_dayname)


#Concat year, month and day to string with two digits for month & day
#date_year['ymd'] = date_year['DateYear'].astype(str) + date_year['month'].astype(str).str.zfill(2) +  date_year['dayone'].astype(str).str.zfill(2)


#Calulate the first day of month
#date_year['fdom'] = pd.to_datetime(date_year['ymd'], format='%Y%m%d')
#delete unneeeded columns
#del date_year['ymd']
#del date_year['month'] 
#del date_year['dayone']


#Calculate the last day of month by subtracting one day from first day of month and then add one month
##date_year['ldom'] = date_year['fdom'] - timedelta(days = 1)
##date_year['ldom'] = date_year['ldom'] + pd.DateOffset(months=1)

print(date_year.info())
print(date_year.head(33))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1461 non-null   datetime64[ns]
 1   DateYear          1461 non-null   int64
 2   fdom              1461 non-null   object
 3   ldom              1461 non-null   object
 4   month             1461 non-null   int64
 5   dom#              1461 non-null   int64
 6   dow#              1461 non-null   int64
 7   month_name        1461 non-null   object
 8   month_short_name  1461 non-null   object
 9   dow_name          1461 non-null   object
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 114.3+ KB
None
         Date  DateYear        fdom        ldom  month  dom#  dow# month_name  \
0  2016-01-01      2016  2016-01-01  2016-01-31      1     1     6    January
1  2016-01-02      2016  2016-01-01  2016-01-31      1     2     7    January
2  2016-01-03      2016  2016-01-01  2016-01-31      1     3     1    January
3  2016-01-04      2016  2016-01-01  2016-01-31      1     4     2    January
4  2016-01-05      2016  2016-01-01  2016-01-31      1     5     3    January
5  2016-01-06      2016  2016-01-01  2016-01-31      1     6     4    January
6  2016-01-07      2016  2016-01-01  2016-01-31      1     7     5    January
7  2016-01-08      2016  2016-01-01  2016-01-31      1     8     6    January
8  2016-01-09      2016  2016-01-01  2016-01-31      1     9     7    January
9  2016-01-10      2016  2016-01-01  2016-01-31      1    10     1    January
10 2016-01-11      2016  2016-01-01  2016-01-31      1    11     2    January
11 2016-01-12      2016  2016-01-01  2016-01-31      1    12     3    January
12 2016-01-13      2016  2016-01-01  2016-01-31      1    13     4    January
13 2016-01-14      2016  2016-01-01  2016-01-31      1    14     5    January
14 2016-01-15      2016  2016-01-01  2016-01-31      1    15     6    January
15 2016-01-16      2016  2016-01-01  2016-01-31      1    16     7    January
16 2016-01-17      2016  2016-01-01  2016-01-31      1    17     1    January
17 2016-01-18      2016  2016-01-01  2016-01-31      1    18     2    January
18 2016-01-19      2016  2016-01-01  2016-01-31      1    19     3    January
19 2016-01-20      2016  2016-01-01  2016-01-31      1    20     4    January
20 2016-01-21      2016  2016-01-01  2016-01-31      1    21     5    January
21 2016-01-22      2016  2016-01-01  2016-01-31      1    22     6    January
22 2016-01-23      2016  2016-01-01  2016-01-31      1    23     7    January
23 2016-01-24      2016  2016-01-01  2016-01-31      1    24     1    January
24 2016-01-25      2016  2016-01-01  2016-01-31      1    25     2    January
25 2016-01-26      2016  2016-01-01  2016-01-31      1    26     3    January
26 2016-01-27      2016  2016-01-01  2016-01-31      1    27     4    January
27 2016-01-28      2016  2016-01-01  2016-01-31      1    28     5    January
28 2016-01-29      2016  2016-01-01  2016-01-31      1    29     6    January
29 2016-01-30      2016  2016-01-01  2016-01-31      1    30     7    January
30 2016-01-31      2016  2016-01-01  2016-01-31      1    31     1    January
31 2016-02-01      2016  2016-02-01  2016-02-29      2     1     2   February
32 2016-02-02      2016  2016-02-01  2016-02-29      2     2     3   February

   month_short_name   dow_name
0               Jan     Friday
1               Jan   Saturday
2               Jan     Sunday
3               Jan     Monday
4               Jan    Tuesday
5               Jan  Wednesday
6               Jan   Thursday
7               Jan     Friday
8               Jan   Saturday
9               Jan     Sunday
10              Jan     Monday
11              Jan    Tuesday
12              Jan  Wednesday
13              Jan   Thursday
14              Jan     Friday
15              Jan   Saturday
16              Jan     Sunday
17              Jan     Monday
18              Jan    Tuesday
19              Jan  Wednesday
20              Jan   Thursday
21              Jan     Friday
22              Jan   Saturday
23              Jan     Sunday
24              Jan     Monday
25              Jan    Tuesday
26              Jan  Wednesday
27              Jan   Thursday
28              Jan     Friday
29              Jan   Saturday
30              Jan     Sunday
31              Feb     Monday
32              Feb    Tuesday

In [3]:
date_year.to_csv('olist_date_year.csv')